<div id="LVF.Views.Main" type="text/html+knockout">

    <div id="page">

        <!-- Header -->
        <div class="b-header __theme_dark">
            <div class="b-header_inner ">
                <div class="b-toolbar __cfx __dark">
                    <div class="b-toolbar_section">
                        <ul class="b-list __horizontal __toolbar __32 __cfx">
                            <!--
                            <li class="b-list_item">
                                <a class="b-action __switch_off" href="#">
                                    <div class="b-icon __tiny __notify"></div>
                                    <span class="b-action_label">Messages</span>
                                </a>
                            </li>
                            -->
                            <li class="b-list_item">
                                <div class="b-action">
                                    <span class="b-action_label">Help</span>
                                </div>
                            </li>
                            <li class="b-list_item">
                                <div class="b-action">
                                    <span class="b-action_label">Language</span>
                                </div>
                            </li>
                            <li class="b-list_item">
                                <div class="b-action __switch_off">
                                    <span class="b-action_label">p.s.borisenko@gmail.com</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Header -->

        <div class="b-layout __has_left_sb">

            <div class="b-sidebar __left __theme_light b-scroll_content">
                <div class="b-sidebar_inner">
                    <ul class="b-list __24 __main_nav" data-bind="control: { type: 'LVF.Controls.Knockout.Navigation' }">
                        <li class="b-list_item">
                            <div class="b-action" data-bind="click: function (){
                                $root.currentPage('LVF.Views.Pages.Dashboard');
                            }, css: { __active: $root.currentPage() == 'LVF.Views.Pages.Dashboard' }">
                                <div class="b-icon __small __placeholder"></div>
                                <span class="b-action_label">Dashboard</span>
                            </div>
                        </li>
                        <li class="b-list_item">
                            <div class="b-action" data-bind="click: function (){
                                $root.currentPage('LVF.Views.Pages.Reports');
                            }, css: { __active: $root.currentPage() == 'LVF.Views.Pages.Reports' }">
                                <div class="b-icon __small __placeholder"></div>
                                <span class="b-action_label">Reports</span>
                            </div>
                        </li>
                        <li class="b-list_item">
                            <div class="b-action" data-bind="click: function (){
                                $root.currentPage('LVF.Views.Pages.Orders');
                            }, css: { __active: $root.currentPage() == 'LVF.Views.Pages.Orders' }">
                                <div class="b-icon __small __placeholder"></div>
                                <span class="b-action_label">Orders</span>
                            </div>
                        </li>
                        <li class="b-list_item">
                            <div class="b-action" data-bind="click: function (){
                                $root.currentPage('LVF.Views.Pages.Customers');
                            }, css: { __active: $root.currentPage() == 'LVF.Views.Pages.Customers' }">
                                <div class="b-icon __small __placeholder"></div>
                                <span class="b-action_label">Customers</span>
                            </div>
                        </li>
                        <li class="b-list_item">
                            <div class="b-action" data-bind="click: function (){
                                $root.currentPage('LVF.Views.Pages.Products');
                            }, css: { __active: $root.currentPage() == 'LVF.Views.Pages.Products' }">
                                <div class="b-icon __small __placeholder"></div>
                                <span class="b-action_label">Products</span>
                            </div>
                        </li>
                        <li class="b-list_item">
                            <div class="b-action" data-bind="click: function (){
                                $root.currentPage('LVF.Views.Pages.Collections');
                            }, css: { __active: $root.currentPage() == 'LVF.Views.Pages.Collections' }">
                                <div class="b-icon __small __placeholder"></div>
                                <span class="b-action_label">Collections</span>
                            </div>
                        </li>
                        <li class="b-list_item">
                            <div class="b-action" data-bind="click: function (){
                                $root.currentPage('LVF.Views.Pages.Discounts');
                            }, css: { __active: $root.currentPage() == 'LVF.Views.Pages.Discounts' }">
                                <div class="b-icon __small __placeholder"></div>
                                <span class="b-action_label">Discounts</span>
                            </div>
                        </li>
                        <li class="b-list_item">
                            <div class="b-action" data-bind="click: function (){
                                $root.currentPage('LVF.Views.Pages.GiftCards');
                            }, css: { __active: $root.currentPage() == 'LVF.Views.Pages.GiftCards' }">
                                <div class="b-icon __small __placeholder"></div>
                                <span class="b-action_label">Settings</span>
                            </div>
                        </li>
                        <li class="b-list_item">
                            <div class="b-action" data-bind="click: function (){
                                $root.currentPage('LVF.Views.Pages.Icons');
                            }, css: { __active: $root.currentPage() == 'LVF.Views.Pages.Icons' }">
                                <div class="b-icon __small __placeholder"></div>
                                <span class="b-action_label">Icons' Demo</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>


            <div class="b-content">
                <!-- ko with: $root.currentPage -->
                <div class="b-content_inner" data-bind="view: $root.currentPage()">
                    <!--<div class="b-progress" data-bind="visible: $root.loading">-->
                        <!--<span class="b-progress_content">Loading...</span>-->
                    <!--</div>-->
                </div>
                <!-- /ko -->
            </div>

        </div>

    </div>

</div>
