<div id="LVF.Views.Main" type="text/html+knockout">

    <div id="page" class="b-page">

        <!-- Header -->
        <div class="b-header __theme_dark">
            <div class="b-header_inner ">
                <div class="b-toolbar __cfx">
                    <div class="b-toolbar_section">
                        <ul class="b-list __horizontal __cfx">
                            <li class="b-list_item">
                                <a class="b-action __switch_off" href="#">
                                    <div class="b-icon __tiny __placeholder"></div>
                                    <span class="b-action_label">Settings</span>
                                </a>
                            </li>
                            <li class="b-list_item">
                                <a class="b-action __switch_off" href="#">
                                    <div class="b-icon __tiny __placeholder"></div>
                                    <span class="b-action_label">Profile</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="b-toolbar_section">
                        <ul class="b-list __horizontal __cfx">
                            <li class="b-list_item">
                                <a class="b-action __switch_off" href="#">
                                    <div class="b-icon __tiny __placeholder"></div>
                                    <span class="b-action_label">Help</span>
                                </a>
                            </li>
                            <li class="b-list_item">
                                <a class="b-action __switch_off" href="#">
                                    <div class="b-icon __tiny __placeholder"></div>
                                    <span class="b-action_label">Logout</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Header -->

        <div class="b-layout __has_left_sb">

            <div class="b-sidebar __left __theme_light" data-bind="view: 'LVF.Views.Navigation'"></div>

            <div class="b-content" data-bind="view: 'LVF.Views.Pages.Base'"></div>

        </div>

    </div>

</div>
