/* An elliptical shadow  for use on the bottom edge of containers/elements, can be positioned with a combination of shadowMargin, x and y offsets */
.textShadowBright {
  -webkit-text-shadow: 0px 1px #ffffff;
  -moz-text-shadow: 0px 1px #ffffff;
  -ms-text-shadow: 0px 1px #ffffff;
  -o-text-shadow: 0px 1px #ffffff;
  text-shadow: 0px 1px #ffffff;
}
.textShadowDark {
  -webkit-text-shadow: 0px 1px #262c39;
  -moz-text-shadow: 0px 1px #262c39;
  -ms-text-shadow: 0px 1px #262c39;
  -o-text-shadow: 0px 1px #262c39;
  text-shadow: 0px 1px #262c39;
}
