<div id="LVF.Views.Pages.Dashboard" type="text/html+knockout">

    <div class="lvf-dashboard">

        <div class="b-icons __row">
            <div class="b-icon __messages __48x48"></div>
            <div class="b-icon __favourites __48x48"></div>
            <div class="b-icon __user __48x48"></div>
            <div class="b-icon __chat __48x48"></div>
            <div class="b-icon __edit __48x48"></div>
            <div class="b-icon __home __48x48"></div>
            <div class="b-icon __logout __48x48"></div>
            <div class="b-icon __search __48x48"></div>
            <div class="b-icon __tag __48x48"></div>
        </div>

        <div class="b-icons __row">
            <div class="b-icon __messages __32x32"></div>
            <div class="b-icon __favourites __32x32"></div>
            <div class="b-icon __user __32x32"></div>
            <div class="b-icon __chat __32x32"></div>
            <div class="b-icon __edit __32x32"></div>
            <div class="b-icon __home __32x32"></div>
            <div class="b-icon __logout __32x32"></div>
            <div class="b-icon __search __32x32"></div>
            <div class="b-icon __tag __32x32"></div>
        </div>

    </div>

</div>
