body {
  font-family: Arial, sans-serif;
  font-size: 12px;
}
h1 {
  font-size: 26px;
  margin: 0;
  margin-bottom: 20px;
}
h2 {
  font-size: 20px;
  margin: 0;
}
h3 {
  font-size: 16px;
  margin: 0;
}
h4 {
  font-size: 12px;
  margin: 0;
}
h5 {
  font-size: 8px;
  margin: 0;
}
.overflow-ellipsis {
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
