<section id="LVF.Views.Navigation" type="text/html+knockout">
    <div class="b-sidebar_inner">
        <ul class="b-list">
            <li class="b-list_item">
                <a href="dashboard/" class="b-list_action">Dashboard</a>
            </li>
            <li class="b-list_item">
                <a href="orders/" class="b-list_action __active">Orders</a>
            </li>
            <li class="b-list_item">
                <a href="customers/" class="b-list_action">Customers</a>
            </li>
            <li class="b-list_item">
                <a href="products/" class="b-list_action">Products</a>
            </li>
            <li class="b-list_item">
                <a href="collections/" class="b-list_action">Collections</a>
            </li>
            <li class="b-list_item">
                <a href="discounts/" class="b-list_action">Discounts</a>
            </li>
            <li class="b-list_item">
                <a href="giftcards/" class="b-list_action">Gift Cards</a>
            </li>
        </ul>
    </div>
</section>