<section id="LVF.Views.Navigation" type="text/html+knockout">
    <div class="b-sidebar_inner __theme_light   ">
        <ul class="b-list">
            <li class="b-list_item">
                <a href="dashboard/" class="b-action">
                    <div class="b-icon __tiny __dashboard"></div>
                    <span class="b-action_label">Dashboard</span>
                </a>
            </li>
            <li class="b-list_item">
                <a href="dashboard/" class="b-action">
                    <div class="b-icon __tiny __reports"></div>
                    <span class="b-action_label">Reports</span>
                </a>
            </li>
            <li class="b-list_item">
                <a href="orders/" class="b-action __active">
                    <div class="b-icon __tiny __orders"></div>
                    <span class="b-action_label">Orders</span>
                </a>
            </li>
            <li class="b-list_item">
                <a href="customers/" class="b-action">
                    <div class="b-icon __tiny __customers"></div>
                    <span class="b-action_label">Customers</span>
                </a>
            </li>
            <li class="b-list_item">
                <a href="products/" class="b-action">
                    <div class="b-icon __tiny __products"></div>
                    <span class="b-action_label">Products</span>
                </a>
            </li>
            <li class="b-list_item">
                <a href="collections/" class="b-action">
                    <div class="b-icon __tiny __collections"></div>
                    <span class="b-action_label">Collections</span>
                </a>
            </li>
            <li class="b-list_item">
                <a href="discounts/" class="b-action">
                    <div class="b-icon __tiny __discounts"></div>
                    <span class="b-action_label">Discounts</span>
                </a>
            </li>
            <li class="b-list_item">
                <a href="giftcards/" class="b-action">
                    <div class="b-icon __tiny __gift-cards"></div>
                    <span class="b-action_label">Gift Cards</span>
                </a>
            </li>
            <li class="b-list_item">
                <a href="search/" class="b-action">
                    <div class="b-icon __tiny __search"></div>
                    <span class="b-action_label">Search</span>
                </a>
            </li>
            <li class="b-list_item">
                <a href="search/" class="b-action">
                    <div class="b-icon __tiny __mail"></div>
                    <span class="b-action_label">Messages</span>
                </a>
            </li>
            <li class="b-list_item">
                <a href="search/" class="b-action">
                    <div class="b-icon __tiny __chat"></div>
                    <span class="b-action_label">Chat</span>
                </a>
            </li>
            <li class="b-list_item">
                <a href="search/" class="b-action">
                    <div class="b-icon __tiny __favourites"></div>
                    <span class="b-action_label">Favourites</span>
                </a>
            </li>
        </ul>
    </div>
</section>