<!DOCTYPE html>
<html>
<head>
    <title>EnglishNET guideline</title>

    <link rel="stylesheet" href="css/reset.css"/>
    <link rel="stylesheet" href="css/normalize.css"/>
    <link rel="stylesheet" href="css/bootstrap.css"/>
    <link rel="stylesheet" href="css/grid.css"/>
    <link rel="stylesheet" href="css/main.css"/>
    <link rel="stylesheet" href="css/styles.css"/>
    <link rel="stylesheet" href="css/menus.css"/>
    <link rel="stylesheet" href="css/social.css"/>
    <link rel="stylesheet" href="css/icons.css"/>
</head>

<body class="__fixed site">

<div class="hidden lvf-modal">
</div>
<!-- Body -->
<div id="body" class="lvf-page">
<div class="lvf-page_wrapper clearfix">

<div class="lvf-grid_container __fill __lvf_scheme_blue">
    <div id="header" class="lvf-grid_row row-fluid">
        <div class="lvf-grid_cell span2">
            <div class="lvf-logo" id="logotype">
                <img src="images/logotype.png">
            </div>
            <div id="slogan">
                <span>Lessons, activities, news and networking</span>
            </div>
        </div>

        <div class="lvf-grid_cell span2">
            <div class="lvf-info">
                <div class="lvf-heading __h5">
                    <span>Call Us:</span>
                </div>
                <div class="lvf-info_content">
                    <div>+38 (068) 721 04 00</div>
                    <div>+38 (066) 322 15 65</div>
                    <div>+38 (063) 341 38 55</div>
                </div>

            </div>
        </div>

        <div class="lvf-grid_cell span2">

            <div class="lvf-info">
                <div class="lvf-heading __h5">
                    <span>Email Us:</span>
                </div>
                <div class="lvf-info_content">
                    <div>info@englishnet.com.ua</div>
                </div>
            </div>

            <div class="lvf-info">
                <div class="lvf-heading __h5">
                    <span>Use Skype:</span>
                </div>
                <div class="lvf-info_content">
                    <div>eng.ua</div>
                </div>
            </div>
        </div>

        <div class="lvf-grid_cell span2">
            <div class="lvf-info lvf-social">
                <div class="lvf-heading __h5">
                    <span>Follow Us:</span>
                </div>
                <div class="lvf-social_links">
                    <a class="lvf-link __social __g-plus" href="#">G+</a>
                    <a class="lvf-link __social __fb" href="#">FB</a>
                    <a class="lvf-link __social __tw" href="#">TW</a>
                    <a class="lvf-link __social __in" href="#">IN</a>
                    <a class="lvf-link __social __ok" href="#">OK</a>
                    <a class="lvf-link __social __vk" href="#">VK</a>
                </div>
            </div>
        </div>

        <div class="lvf-grid_cell span3 offset1 __cfx">
            <div id="userpanel" class="lvf-user pull-right">
                <div class="lvf-user_box __upper __horizontal">
                    <table>
                        <tr>
                            <td>
                                <ul class="lvf-menu __cfx">
                                    <li class="lvf-menu_item item-109">
                                        <a href="#">Sign In</a>
                                    </li>
                                    <li class="lvf-menu_item item-112">
                                        <a href="#">Sign Up</a>
                                    </li>
                                </ul>
                            </td>
                            <td>
                                <ul class="lvf-lang __with_icons __cfx">
                                    <li class="lvf-lang_item item-109">
                                        <a href="#en" class="lvf-icon __language __en-GB">&nbsp;</a>
                                    </li>
                                    <li class="lvf-lang_item item-112">
                                        <a href="#uk" class="lvf-icon __language __uk-UA">&nbsp;</a>
                                    </li>
                                    <li class="lvf-lang_item item-112">
                                        <a href="#ru" class="lvf-icon __language __ru-RU">&nbsp;</a>
                                    </li>
                                </ul>

                            </td>
                        </tr>
                    </table>
                </div>
                <div class="lvf-user_box __upper">
                    <!--<jdoc:include type="modules" name="user_b" style="none"/>-->
                </div>
            </div>
        </div>
    </div>
</div>

<div class="lvf-grid_container __add_border __lvf_scheme_red">

    <div id="navigation" class="lvf-grid_row row-fluid __cfx">

        <div id="menu" class="span9 __horizontal __big">
            <!--<jdoc:include type="modules" name="menu" style="none"/>-->
            <ul class="lvf-menu clearfix">
                <li class="lvf-menu_item item-109">
                    <a href="#">Sign In</a>
                    <ul class="lvf-menu __deeper __fill __lvf_scheme_red">
                        <li class="lvf-menu_item __has_children">
                            <a href="#">
                                <span>Sample Materials</span>
                                <span class="lvf-icon __16x16 __drop_right"></span>
                            </a>
                        </li>
                        <li class="lvf-menu_item">
                            <a href="#">Free English Level Test</a>
                        </li>
                        <li class="lvf-menu_item">
                            <a href="#">What's Included</a>
                        </li>
                        <li class="lvf-menu_item">
                            <a href="#">Course Options</a>
                        </li>
                    </ul>
                </li>
                <li class="lvf-menu_item item-112">
                    <a href="#">Sign Up</a>
                </li>
            </ul>
        </div>

        <div id="search" class="span3">
            <!--<jdoc:include type="modules" name="search" style="none"/>-->
        </div>
    </div>
</div>

<div id="menu-target" class="__hide">
    <div class="lvf-grid_container __lvf_scheme_red __fill hidden lvf-submenu_layout">
        <div class="lvf-grid_row row-fluid clearfix">
            <div class="span3">
                <ul class="lvf-menu __deeper">
                    <li class="lvf-menu_item">
                        <a href="#">Sample Materials</a>
                    </li>
                    <li class="lvf-menu_item">
                        <a href="#">Free English Level Test</a>
                    </li>
                    <li class="lvf-menu_item">
                        <a href="#">What's Included</a>
                    </li>
                    <li class="lvf-menu_item">
                        <a href="#">Course Options</a>
                    </li>
                </ul>
            </div>

            <div class="span4 offset1">
                <dl class="lvf-idiom">
                    <dt>
                        <span>"To pick someone's brains."</span>
                    </dt>
                    <dd>
                        To ask for information or advice from someone who knows more about a subject that you do.
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>

<div class="lvf-grid_container">
    <div id="banner" class="lvf-grid_row row-fluid __cfx">
        <!--<jdoc:include type="modules" name="banner" style="none"/>-->
    </div>
</div>

<div class="lvf-grid_container container-fluid">
    <div class="lvf-grid_row">
        <ul class="lvf-pathway">
            <li><a href="/">Home</a><span class="lvf-pathway_divider">/</span></li>
            <li class="__active"><span>Free English level test</span></li>
        </ul>
        <!--<jdoc:include type="modules" name="pathway"/>-->
    </div>
</div>

<div class="lvf-grid_container">
    <div class="lvf-grid_row">
        <div id="message">
            <!--<jdoc:include type="message"/>-->
        </div>
    </div>
</div>
<div class="lvf-grid_container">

    <div class="lvf-grid_row">
        <div class="row-fluid clearfix">

            <!--<div class="span2 __hide">-->
            <!--<div id="left" class="lvf-sidebar">-->
            <!--&lt;!&ndash;<jdoc:include type="modules" name="left"/>&ndash;&gt;-->
            <!--</div>-->
            <!--</div>-->

            <div class="span9" class="lvf-content" id="content">
                <div id="center" class="lvf-content_inner">

                    Center column
                    <!--<jdoc:include type="modules" name="center"/>-->

                    <!--<jdoc:include type="component"/>-->

                </div>
            </div>

            <div class="span3">
                <div id="right" class="lvf-sidebar">
                    <!--<jdoc:include type="modules" name="right"/>-->
                </div>
            </div>
        </div>

        <div class="container-fluid hidden">
            <div id="offerings" class="row-fluid">
                <div class="span3">

                    <div class="lvf-offering">
                        <div class="lvf-offering_title lvf-heading __h3">
                            <span>Lessons via Video Conference</span>
                        </div>

                        <div class="lvf-offering_text">
                            <p>
                                Enjoy live online English classes with real teachers at home, at your office, or
                                wherever there is an internet connection. No more snow, no more traffic jams, no
                                more crowded buses, no more large, noisy classrooms. And with EnglishNET, you can
                                study whenever it is convenient.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="span3">

                    <div class="lvf-offering">
                        <div class="lvf-offering_title lvf-heading __h3">
                            <span>Choose your Price</span>
                        </div>

                        <div class="lvf-offering_text">
                            <p>
                                Study privately for the fastest results, or reduce the cost by studying with up to
                                three other students.
                            </p>
                            <a href="#">Course Options</a>
                        </div>
                    </div>

                </div>
                <div class="span3">
                    <div class="lvf-offering">
                        <div class="lvf-offering_title lvf-heading __h3">
                            <span>Optional Reading and Writing</span>
                        </div>

                        <div class="lvf-offering_text">
                            <p>
                                Reading and writing practice is free at EnglishNET. Every week, there are new
                                articles to read and comment on. Your comments are corrected by our teachers. There
                                are also weekly writing contests.
                            </p>
                        </div>
                    </div>

                </div>
                <div class="span3">
                    <div class="lvf-offering">
                        <div class="lvf-offering_title lvf-heading __h3">
                            <span>Bilingual Learning System</span>
                        </div>

                        <div class="lvf-offering_text">
                            <p>
                                Our system works! Understand and drill new grammar and concepts with a Ukrainian or
                                Russian teacher, and then practice what you have learned with a native English
                                teacher. You may choose only native or non-native teachers for your online English
                                classes if you would like.
                            </p>
                            <a href="#">Our Team</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

</div>
</div>
<!-- Footer -->
<div class="lvf-bottom" id="bottom">

    <div class="lvf-grid_container container-fluid lvf-footer __fill __lvf_scheme_blue">
        <div id="footer" class="lvf-footer_inner lvf-grid_row row-fluid clearfix">

            <div class="lvf-grid_cell span2">
            </div>

            <div class="lvf-grid_cell span6">
                <table class="">
                    <tr>
                        <td>
                            <div class="lvf-heading __h5">
                                <span>Follow Us:</span>
                            </div>
                        </td>
                        <td>
                            <div class="lvf-social_links">
                                <a class="lvf-link __social __g-plus" href="#">G+</a>
                                <a class="lvf-link __social __fb" href="#">FB</a>
                                <a class="lvf-link __social __tw" href="#">TW</a>
                                <a class="lvf-link __social __in" href="#">IN</a>
                                <a class="lvf-link __social __ok" href="#">OK</a>
                                <a class="lvf-link __social __vk" href="#">VK</a>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>

            <div class="lvf-grid_cell pull-right span4" id="copyright">
                <div>Copyright &copy; 2014 EnglishNET. All Rights Reserved.</div>
                <!--<jdoc:include type="modules" name="copyright" style="none"/>-->
            </div>

        </div>
    </div>

</div>
</body>
</html>
