<!DOCTYPE html>
<html>
<head>
    <title>EnglishNET guideline</title>

    <link rel="stylesheet" href="css/reset.css"/>
    <link rel="stylesheet" href="css/normalize.css"/>
    <link rel="stylesheet" href="css/grid.css"/>
</head>
<body>
    <div id="page">
        Content
    </div>

    <script type="text/javascript" src="js/library/jquery.debug.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
    <script type="text/javascript" src="js/application.js"></script>
</body>
</html>
