<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:sdlui="http://wwww.sdlcommonui.com" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
               xsi:noNamespaceSchemaLocation="Common/Library/Core/configuration.xsd">
    <appSettings>
        <setting name="corePath" value="Common/"/>
        <setting name="debug" value="true"/>
        <setting name="logCount" value="20"/>
    </appSettings>
</configuration>