.sdl-callout {
  position: fixed;
  border: 1px solid #454b53;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 5px 0 rgba(38, 44, 57, 0.15);
  box-shadow: 0 1px 5px 0 rgba(38, 44, 57, 0.15);
  min-width: 50px;
  min-height: 50px;
  background-color: #ffffff;
  z-index: 100;
  outline: none;
}
.sdl-callout-hidden {
  visibility: hidden;
}
.sdl-callout-pointer-above,
.sdl-callout-pointer-below,
.sdl-callout-pointer-right,
.sdl-callout-pointer-left,
.sdl-callout-pointer-above:after,
.sdl-callout-pointer-below:after,
.sdl-callout-pointer-right:after,
.sdl-callout-pointer-left:after {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
  border-width: 7px;
  border-style: solid;
  border-color: transparent;
  pointer-events: none;
}
.sdl-callout-pointer-above,
.sdl-callout-pointer-below,
.sdl-callout-pointer-right,
.sdl-callout-pointer-left {
  position: fixed;
}
.sdl-callout-pointer-above:after,
.sdl-callout-pointer-below:after,
.sdl-callout-pointer-right:after,
.sdl-callout-pointer-left:after {
  content: "";
  position: absolute;
}
.sdl-callout-pointer-above {
  border-bottom: 0 none;
  border-top-width: 9px;
  border-top-color: #454b53;
}
.sdl-callout-pointer-above:after {
  border-bottom: 0 none;
  border-top-width: 9px;
  border-top-color: #ffffff;
  bottom: 1.4px;
  left: -7px;
}
.sdl-callout-pointer-below {
  border-top: 0 none;
  border-bottom-width: 9px;
  border-bottom-color: #454b53;
}
.sdl-callout-pointer-below:after {
  border-top: 0 none;
  border-bottom-width: 9px;
  border-bottom-color: #ffffff;
  top: 1.4px;
  left: -7px;
}
.sdl-callout-pointer-left {
  border-right: 0 none;
  border-left-width: 9px;
  border-left-color: #454b53;
}
.sdl-callout-pointer-left:after {
  border-right: 0 none;
  border-left-width: 9px;
  border-left-color: #ffffff;
  right: 1.4px;
  top: -7px;
}
.sdl-callout-pointer-right {
  border-left: 0 none;
  border-right-width: 9px;
  border-right-color: #454b53;
}
.sdl-callout-pointer-right:after {
  border-left: 0 none;
  border-right-width: 9px;
  border-right-color: #ffffff;
  left: 1.4px;
  top: -7px;
}
.sdl-callout-menu {
  background-color: #fafafa;
}
.sdl-callout-menu .sdl-callout-pointer-above:after {
  border-top-color: #fafafa;
}
.sdl-callout-menu .sdl-callout-pointer-below:after {
  border-bottom-color: #fafafa;
}
.sdl-callout-menu .sdl-callout-pointer-left:after {
  border-left-color: #fafafa;
}
.sdl-callout-menu .sdl-callout-pointer-right:after {
  border-right-color: #fafafa;
}
.sdl-callout-actionbar {
  -webkit-border-radius: 0 0 2px 2px;
  -moz-border-radius: 0 0 2px 2px;
  -ms-border-radius: 0 0 2px 2px;
  -o-border-radius: 0 0 2px 2px;
  border-radius: 0 0 2px 2px;
}
