#body {
  /*min-width: 1024px;*/
}
#logotype {
  margin-bottom: 12px;
}
#header {
  min-height: 53px;
  padding: 12px 0;
}
#search {
  height: 52px;
}
.lvf-user {
  font-size: 90%;
  background-color: white;
}
.lvf-user_box {
  background-color: white;
}
.lvf-sidebar {
  padding: 0 0 10em 0;
  border-left: 1px solid #a61717;
}
#breadcrumbs {
  height: 52px;
}
#menu-target .lvf-submenu_layout {
  position: absolute;
  width: 100%;
}
#menu-target {
  position: relative;
  height: 0;
}
.__add_border.__lvf_scheme_red {
  border-bottom: 1px solid #a61717;
}
#sidebar {
  padding-bottom: 52px;
  border-left: 1px solid #a61717;
}
dl.lvf-idiom {
  color: white;
  font-family: "Segoe UI Light", "Segoe UI", Arial, Verdana, Tahome, serif;
  font-weight: lighter;
}
dl.lvf-idiom dt {
  font-size: 210%;
  font-weight: lighter;
  margin-bottom: 1.6em;
}
dl.lvf-idiom dd {
  font-size: 120%;
  line-height: 140%;
  font-weight: lighter;
}
