.lvf-menu
{
    margin: 0;
    padding: 0;
    position: relative;
}

.lvf-menu_item a
{
    display: block;
    padding: 0 14px;
    height: 42px;
    line-height: 42px;
    color: #223fa1;
    text-decoration: none;
    text-transform: uppercase;
}

.lvf-submenu_layout
{
    padding: 12px 0;
}

.lvf-menu.__big .lvf-menu_item,
.__big .lvf-menu_item a
{
    padding: 0 1.5em;
    height: 52px;
    line-height: 52px;
}

.lvf-menu_item a:hover,
.lvf-menu_item.__current
{
    background-color: #a61717;
}

.lvf-menu .lvf-menu.__deeper
{
    position: absolute;
    top: 100%;
    padding-bottom: 2em;
}

.lvf-menu.__deeper .lvf-menu_item a
{
    text-transform: capitalize;
    font-size: 100%;
    color: white;
    font-family: "Segoe UI Light", "Segoe UI", Arial, Verdana, Tahome, serif;
    font-weight: lighter;
}

.lvf-menu.__deeper .lvf-menu_item a:hover
{
    background-color: #0b2647;
}

.lvf-menu_item.__current a,
.lvf-menu_item a:hover
{
    color: white;
    text-decoration: none;
}

.lvf-menu.__horizontal .lvf-menu_item,
.__horizontal .lvf-menu .lvf-menu_item
{
    float: left;
}

.lvf-menu.__deeper.__horizontal .lvf-menu_item,
.__horizontal .lvf-menu.__deeper .lvf-menu_item
{
    float: none;
}

/* Breadcrumbs */
.lvf-pathway
{
    font-size: 90%;
    margin: 0;
    height: 52px;
}

.lvf-pathway .lvf-pathway_label
{
    margin-right: 1em;
}

.lvf-pathway_divider
{
    margin: 0 0.5em;
}

.lvf-pathway li
{
    float: left;
    height: 52px;
    line-height: 52px;
}

.lvf-pathway li a
{
    color: #3c3b6e;
    text-decoration: underline;
}

.lvf-pathway li a:hover
{
    color: #a61717;
    text-decoration: none;
}

.lvf-pathway li.__active span
{
    font-weight: bold;
}
/* /Breadcrumbs */

/* Language Switcher */
.lvf-lang
{
    margin: 0;
    padding: 0 0.7em;
}

.lvf-lang.__with_icons .lvf-lang_item:first-child
{
    padding-left: 0;
}

.lvf-lang.__with_icons .lvf-lang_item:last-child
{
    padding-right: 0;
}
.lvf-lang.__with_icons .lvf-lang_item
{
    float: left;
    padding: 0 0.35em;
}
/* /Language Switcher */
