@import "environment";

.lvf-social_links
{
}

.lvf-social_links .lvf-link.__social
{
    margin-right: 0.15em;
}

.lvf-link.__social
{
    font-size: 90%;
    display: inline-block;
    height: 24px;
    line-height: 24px;
    width: 24px;
    text-align: center;
    text-decoration: none;
    outline: 0;
}

.lvf-link.__social:hover
{
    background-color: grey;
}

.lvf-link.__social:hover,
.lvf-link.__social.__g-plus:hover,
.lvf-link.__social.__tw:hover,
.lvf-link.__social.__fb:hover,
.lvf-link.__social.__in:hover,
.lvf-link.__social.__vk:hover,
.lvf-link.__social.__ok:hover
{
    color: @white;
}

.lvf-link.__social.__g-plus
{
    color: @gplus-color;
}

.lvf-link.__social.__g-plus:hover
{
    background-color: @gplus-color;
}

.lvf-link.__social.__tw
{
    color: @tw-color;
}

.lvf-link.__social.__tw:hover
{
    background-color: @tw-color;
}

.lvf-link.__social.__fb
{
    color: #3b5a9b;
}

.lvf-link.__social.__fb:hover
{
    background-color: @fb-color;
}

.lvf-link.__social.__in
{
    color: @li-color;
}

.lvf-link.__social.__in:hover
{
    background-color: @li-color;
}

.lvf-link.__social.__vk
{
    color: @vk-color;
}

.lvf-link.__social.__vk:hover
{
    background-color: @vk-color;
}

.lvf-link.__social.__ok
{
    color: @ok-color;
}

.lvf-link.__social.__ok:hover
{
    background-color: @ok-color;
}

.lvf-social_control
{
    display: inline-block;
}

.lvf-like_box
{
    display: inline-block;
    padding: 4px;
    height: 16px;
    line-height: 16px;
}

.lvf-like_action
{
    position: relative;
    padding-left: 25px;
}

.lvf-like_action .lvf-icon.__16x16
{
    position: absolute;
    left: 4px;
    top: 50%;
    margin-top: -8px;
}

.lvf-like_count
{
    margin-left: 5px;
    position: relative;
    background-color: @white;
}

.lvf-like_count:before,
.lvf-like_count:after
{
    left: -5px;
    top: 50%;
    content: "";
    position: absolute;
    display: block;
    width: 0;
    border-style: solid;
}

.lvf-like_count:before
{
    left: -5px;
    margin-top: -5px;
    border-width: 5px 5px 5px 0;
    content: "";
    position: absolute;
    display: block;
    width: 0;
    border-style: solid;
    border-color: transparent @white;
}

.lvf-like_count:after
{
    left: -4px;
    margin-top: -4px;
    border-width: 4px 4px 4px 0;
    border-color: transparent @white;
}


.lvf-like_count .__text
{
    color: @black;
}

.__fb .lvf-like_box,
.lvf-like_box.__fb
{
    border: 1px solid @fb-color;
}

.__gplus .lvf-like_box,
.lvf-like_box.__gplus
{
    border: 1px solid @gplus-color;
}

.__fb .lvf-like_action,
.lvf-like_action.__fb
{
    background-color: @fb-color;
}

.__gplus .lvf-like_action,
.lvf-like_action.__gplus
{
    background-color: @gplus-color;
}

.__fb .lvf-like_count:before,
.lvf-like_count.__fb:before
{
    border-color: transparent @fb-color;
}

.__gplus .lvf-like_count:before,
.lvf-like_count.__gplus:before
{
    border-color: transparent @gplus-color;
}

