td {
  vertical-align: middle;
}
.__pull-right {
  float: right;
}
.__pull-left {
  float: left;
}
.__hide {
  display: none !important;
}
.__show {
  display: block !important;
}
.__invisible {
  visibility: hidden;
}
.__fix {
  position: fixed;
}
.__cfx:before,
.__cfx:after {
  content: " ";
  display: table;
}
.__cfx:after {
  clear: both;
}
.__upper {
  text-transform: uppercase;
}
.__wide {
  width: 100%;
}
.lvf-heading {
  display: block;
  line-height: 120%;
  margin-bottom: 0.3em;
}
.lvf-heading.__h1,
.lvf-heading.__h3 {
  color: #a61717;
  font-family: "Segoe UI Light", "Segoe UI", Arial, Verdana, Tahome, serif;
  font-weight: lighter;
}
.lvf-heading.__h1 {
  font-size: 1.8em;
}
.lvf-heading.__h2 {
  font-size: 1.5em;
}
.lvf-heading.__h3 {
  font-size: 1.2em;
}
.lvf-heading.__h5 {
  font-size: 0.75em;
  font-weight: bold;
}
.lvf-search {
  height: 52px;
}
.lvf-search_inner {
  position: relative;
  top: 50%;
  margin-top: -18px;
  height: 32px;
  /*line-height: 32px;*/
  vertical-align: middle;
  border: 2px solid #3c3b6e;
}
input.lvf-search_input[type="text"] {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  border: 0;
  padding: 0 0.4em;
  font-size: 90%;
  font-family: "Segoe UI";
  outline: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  -moz-border-radius: 0;
  margin: 0;
  height: 32px;
  line-height: 32px;
}
.lvf-info {
  margin-bottom: 1em;
}
.lvf-info:last-child {
  margin-bottom: 0;
}
.lvf-info_content {
  font-size: 110%;
}
