.b-content_page {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.b-content_page_header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    padding: 28px 40px;
    height: 32px;
    line-height: 32px;
    border-bottom: 1px solid #f3f3f4;
    /*-webkit-box-shadow: 0 1px 1px 0px rgba(0, 0, 0, 0.3);*/
    /*-moz-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.3);*/
    /*box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.3);*/
}

.b-content_page_title {
    font-size: 24pt;
}

.b-content_context {
    position: absolute;
    top: 88px;
    bottom: 0;
    left: 0;
    right: 0;
}

.b-actions {

}
