.d-icons {
    background-color: gray;
    padding: 12px;
}

.d-icon_set {
    margin-bottom: 32px;
}

.d-icon_set:last-child {
    margin-bottom: 0;
}

.d-icon_set_title {
    color: #39dafa;
}

.d-icon_set_content {
    margin-top: 16px;
}

.d-icon {
    display: inline-block;
    width: 16px;
    height: 16px;
}

.d-icon.__middle {
    display: inline-block;
    width: 32px;
    height: 32px;
}

.d-icon.__big {
    display: inline-block;
    width: 48px;
    height: 48px;
}

.d-icon.__middle.__chat {
    background: url("{PATH}images/32x32/chat.png") no-repeat;
}

.d-icon.__middle.__edit {
    background: url("{PATH}images/32x32/edit.png") no-repeat;
}

.d-icon.__middle.__favourites {
    background: url("{PATH}images/32x32/favourites.png") no-repeat;
}

.d-icon.__middle.__home {
    background: url("{PATH}images/32x32/home.png") no-repeat;
}

.d-icon.__middle.__logout {
    background: url("{PATH}images/32x32/logout.png") no-repeat;
}

.d-icon.__middle.__messages {
    background: url("{PATH}images/32x32/messages.png") no-repeat;
}

.d-icon.__middle.__search {
    background: url("{PATH}images/32x32/search.png") no-repeat;
}

.d-icon.__middle.__tag {
    background: url("{PATH}images/32x32/tag.png") no-repeat;
}

.d-icon.__middle.__user {
    background: url("{PATH}images/32x32/user.png") no-repeat;
}

.d-icon.__big.__chat {
    background: url("{PATH}images/48x48/chat.png") no-repeat;
}

.d-icon.__big.__edit {
    background: url("{PATH}images/48x48/edit.png") no-repeat;
}

.d-icon.__big.__favourites {
    background: url("{PATH}images/48x48/favourites.png") no-repeat;
}

.d-icon.__big.__home {
    background: url("{PATH}images/48x48/home.png") no-repeat;
}

.d-icon.__big.__logout {
    background: url("{PATH}images/48x48/logout.png") no-repeat;
}

.d-icon.__big.__messages {
    background: url("{PATH}images/48x48/messages.png") no-repeat;
}

.d-icon.__big.__search {
    background: url("{PATH}images/48x48/search.png") no-repeat;
}

.d-icon.__big.__tag {
    background: url("{PATH}images/48x48/tag.png") no-repeat;
}

.d-icon.__big.__user {
    background: url("{PATH}images/48x48/user.png") no-repeat;
}
