<div id="LVF.Views.Pages.Icons" type="text/html+knockout">

    <div class="d-icons">

        <div class="d-icon_set">
            <div class="d-icon_set_title">Icons of size 32x32</div>
            <div class="d-icon_set_content">
                <span class="d-icon __middle __chat"></span>
                <span class="d-icon __middle __edit"></span>
                <span class="d-icon __middle __favourites"></span>
                <span class="d-icon __middle __home"></span>
                <span class="d-icon __middle __logout"></span>
                <span class="d-icon __middle __messages"></span>
                <span class="d-icon __middle __search"></span>
                <span class="d-icon __middle __tag"></span>
                <span class="d-icon __middle __user"></span>
            </div>
        </div>

        <div class="d-icon_set">
            <div class="d-icon_set_title">Icons of size 48x48</div>
            <div class="d-icon_set_content">
                <span class="d-icon __big __chat"></span>
                <span class="d-icon __big __edit"></span>
                <span class="d-icon __big __favourites"></span>
                <span class="d-icon __big __home"></span>
                <span class="d-icon __big __logout"></span>
                <span class="d-icon __big __messages"></span>
                <span class="d-icon __big __search"></span>
                <span class="d-icon __big __tag"></span>
                <span class="d-icon __big __user"></span>

            </div>
        </div>

    </div>

</div>
