input.pikaday {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 27px;
  width: 145px;
  padding-left: 5px;
  padding-right: 25px;
  -webkit-background-size: 16px 16px;
  -moz-background-size: 16px 16px;
  -ms-background-size: 16px 16px;
  -o-background-size: 16px 16px;
  background-size: 16px 16px;
  background: url({PATH}../images/calendar.16.color.svg) no-repeat right 4px center;
  background-color: #fff;
  border: 1px solid #aaa;
  -webkit-box-shadow: inset 1px 1px 0 0 #ebebeb;
  box-shadow: inset 1px 1px 0 0 #ebebeb;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
input.pikaday::-ms-clear {
  display: none;
}
input.pikaday[disabled] {
  opacity: 0.5;
  background-color: #f4f4f4;
}
input.pikaday.invalid {
  border: 1px solid red;
  background-color: rgba(255, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 0 0 0 #ebebeb;
  box-shadow: inset 0 0 0 0 #ebebeb;
}
.pika-single {
  width: auto;
  border: 1px solid #aaa;
}
.pika-single .pika-lendar {
  width: auto;
  float: none;
  margin: 0;
}
.pika-single.is-bound {
  padding: 0;
  border-radius: 3px;
  height: 330px;
}
.pika-single.is-bound .pika-title {
  height: 47px;
  line-height: 47px;
  background-color: #fafafa;
  border-bottom: 1px solid #aaa;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.pika-single.is-bound .pika-title .pika-label {
  position: absolute;
  overflow: visible;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 22px;
  line-height: 22px;
  text-align: left;
  border: 1px solid #aaa;
  -webkit-box-shadow: inset 1px 1px 0 0 #ebebeb;
  box-shadow: inset 1px 1px 0 0 #ebebeb;
  border-radius: 3px;
  font-size: 12px;
  padding: 2px 24px 2px 5px;
  background: url({PATH}../images/combobox-arrow.16.mono-dark.svg) no-repeat right 4px center;
  background-color: white;
}
.pika-single.is-bound .pika-title .pika-label:nth-child(1) {
  left: 78px;
  min-width: 75px;
}
.pika-single.is-bound .pika-title .pika-label:nth-child(2) {
  right: 77px;
}
.pika-single.is-bound .pika-title .pika-label + .pika-label {
  margin-left: 10px;
}
.pika-single.is-bound .pika-title .pika-label select {
  top: 0;
  left: 0;
  height: 100%;
  width: calc(100% + 2px);
}
.pika-single.is-bound .pika-title button {
  height: 22px;
  min-height: 22px;
  max-height: 22px;
  width: 22px;
  min-width: 22px;
  max-width: 22px;
  border: 1px solid #aaa;
  border-radius: 50%;
  background-color: #e2e2e2;
  -webkit-background-size: 45px 60px;
  -moz-background-size: 45px 60px;
  -ms-background-size: 45px 60px;
  -o-background-size: 45px 60px;
  background-size: 45px 60px;
  box-shadow: inset 0 1px 0 #f4f4f4, inset 0 -1px 0 #d6d6d6;
  opacity: 1;
}
.pika-single.is-bound .pika-title .pika-prev {
  margin-left: 20px;
  margin-top: 13px;
  background: url({PATH}../images/panel-arrow.left.16.mono-dark.svg) no-repeat center center;
  background-size: 16px 16px;
}
.pika-single.is-bound .pika-title .pika-prev:not(.is-disabled):hover {
  background-color: #f4f4f4;
}
.pika-single.is-bound .pika-title .pika-prev.is-disabled {
  opacity: 0.5;
}
.pika-single.is-bound .pika-title .pika-next {
  margin-right: 20px;
  margin-top: 13px;
  background: url({PATH}../images/panel-arrow.right.16.mono-dark.svg) no-repeat center center;
  background-size: 16px 16px;
}
.pika-single.is-bound .pika-title .pika-next:not(.is-disabled):hover {
  background-color: #f4f4f4;
}
.pika-single.is-bound .pika-title .pika-next.is-disabled {
  opacity: 0.5;
}
.pika-single.is-bound .pika-table {
  width: auto;
  margin: 0 20px 5px 20px;
  border-spacing: 10px;
  border-collapse: separate;
}
.pika-single.is-bound .pika-table th {
  text-shadow: 0 1px white;
  color: #454b53;
}
.pika-single.is-bound .pika-table th abbr {
  border-bottom: none;
}
.pika-single.is-bound .pika-table td .pika-button {
  width: 30px;
  height: 27px;
  border: 1px solid #ddd;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -ms-border-radius: 0 !important;
  -o-border-radius: 0 !important;
  border-radius: 0 !important;
  background-color: #fafafa;
  color: #262c39 !important;
  font-weight: bold;
  text-shadow: 0 1px white;
  text-align: center;
}
.pika-single.is-bound .pika-table td .pika-button:hover {
  border: 1px solid #bed2f0;
  background-color: #e9f0f2 !important;
}
.pika-single.is-bound .pika-table td.is-today > .pika-button {
  text-decoration: underline;
}
.pika-single.is-bound .pika-table td.is-disabled > .pika-button {
  border: none;
  background-color: white;
  color: #aaa !important;
  opacity: 1;
}
.pika-single.is-bound .pika-table td.is-selected > .pika-button {
  border: 1px solid #94b5e5;
  background-color: #bed2f0;
  box-shadow: none;
}
.pika-single.is-bound .pika-table td.is-selected > .pika-button:hover {
  border: 1px solid #94b5e5;
  background-color: #bed2f0 !important;
}
