.b-page {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.b-page_top {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    padding: 28px 40px;
    height: 32px;
    line-height: 32px;
    border-bottom: 1px solid #f3f3f4;
    /*-webkit-box-shadow: 0 1px 1px 0px rgba(0, 0, 0, 0.3);*/
    /*-moz-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.3);*/
    /*box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.3);*/
}

.b-page_title {
    font-size: 24pt;
}

.b-page_content {
    position: absolute;
    top: 88px;
    bottom: 60px;
    left: 0;
    right: 0;
}

.b-page_bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 32px;
    padding: 14px 40px;
    background: gray;
}

.b-grid {
    padding: 0;
    margin: 0;
}

.b-grid.__wide {
    width: 100%;
}

.b-grid_cell,
.b-grid_head {
    text-align: left;
    vertical-align: middle;
}

.b-grid_cell.__center,
.b-grid_head.__center {
    text-align: center;
}

.b-grid_row.__hovered .b-grid_cell,
.b-grid_row:hover .b-grid_cell {
    background-color: #fdfdfd;
}

.b-grid_cell {
    padding: 16px 12px;
    height: 48px;
    line-height: 48px;
    border-bottom: 1px solid #f3f3f4;
    background-color: #fafafa;
}

.b-grid_head {
    font-size: 85%;
    padding: 16px 12px;
    /*height: 16px;*/
    /*line-height: 16px;*/
    white-space: nowrap;
    color: #a3a3a3;
    border-bottom: 1px solid #e2e3e5;
}

.b-grid_cell.__thumbnail,
.b-grid_cell.__sku {
    width: 48px;
}

.b-grid_cell.__visibility {
    width: 64px;
}

.b-badge {
    height: 24px;
    display: inline-block;
    line-height: 24px;
    border-radius: 2px;
    padding: 0 5px;
    background-color: #00bfe5;
    font-size: 90%;
    color: white;
    /*color: #0044cc;*/
}

.b-badge.__clickable {
    cursor: pointer;
}

.b-caller {
    /*text-decoration: underline;*/
    cursor: pointer;
    color: #00bfe5;
}
