.b-page {
    min-height: 100%;
}

/* Header styles */
.b-header {
    position: absolute;
    top: 0;
    width: 100%;
    color: #ccc;
    height: 36px;
    padding: 6px 0;
}

.b-header_inner {
    height: 36px;
    line-height: 36px;
}

.b-toolbar {
    float: right;
}

.b-toolbar_section {
    padding: 0 1em;
    float: left;
    height: 100%;
}

.b-toolbar_section .b-toolbar_item:last-child {
    padding-right: 0;
}

.b-toolbar_section .b-toolbar_item {
    float: left;
    height: 100%;
    padding-right: 0.35em;
}

.b-toolbar_link {
    position: relative;
    display: block;
    padding: 6px 6px 6px 12px;
    height: 24px;
    line-height: 24px;
    font-size: 0.9em;
    text-decoration: none;
    color: #fff;
    /*color: #00ebff;*/
}

/* /Header styles */

.b-layout {
    top: 48px;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    background-color: #eeedf0;
}

.b-content {
    box-sizing: border-box;
    padding: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
}

.b-layout.__left .b-content {
    left: 13em;
}

.b-layout.__has_right_sb .b-content {
    right: 12em;
}

.b-layout.__has_left_sb .b-content {
    left: 13em;
}

.b-sidebar {
    background-color: #efefef;
}

.b-sidebar.__left,
.b-sidebar.__right {
    position: absolute;
    top: 0;
    /*min-height: 100%;*/
    bottom: 0;
    z-index: 10;
    width: 13em;
}

.b-sidebar.__left {
    left: 0;
}

.b-sidebar.__right {
    right: 0;
}

.b-sidebar_inner {
    /*padding: 0.5em;*/
}

.b-scroll_content {
    overflow-y: auto;
}