.b-list {
    list-style: none;
}

.b-list.__circle {
    list-style-type: circle;
}

.b-list.__horizontal {

}

.b-list.__32 .b-list_item {
    margin-bottom: 32px;
}

.b-list.__24 .b-list_item {
    margin-bottom: 24px;
}

.b-list .b-list_item:last-child {
    margin-bottom: 0;
}

.b-list.__horizontal .b-list_item {
    float: left;
    margin-bottom: 0;
}

.b-list.__toolbar .b-list_item {
    margin-right: 24px;
}

.b-list.__buttons .b-list_item {
    margin-right: 12px;
}

.b-list.__horizontal .b-list_item:last-child {
    margin-right: 0;
}

.__dark .b-action {
    color: #39dafa;
}

.b-action {
    position: relative;
    display: block;
    height: 24px;
    line-height: 24px;
    font-size: 0.9em;
    text-decoration: none;
    color: white;
}

.__main_nav .b-action {
    opacity: 0.5;
}

.__32 .b-action {
    height: 32px;
    line-height: 32px;
}

.b-action .b-icon {
    float: left;
    position: relative;
    margin-right: 8px;
}

.b-action .b-icon.__tiny {
    top: 4px;
    margin-right: 8px;
}

.b-action .b-icon.__middle {
    margin-right: 28px;
}

.b-action.__switch_off {
    color: #999;
}

.__main_nav .b-action:hover,
.__main_nav .b-action.__hover,
.__main_nav .b-action.__active {
    opacity: 1;
}

