.b-list {
    list-style: none;
}

.b-list.__circle {
    list-style-type: circle;
}

.b-list.__horizontal {

}

.b-list.__horizontal .b-list_item {
    float: left;
}

.__dark .b-action {
    color: #adadad;
}

.b-action {
    position: relative;
    display: block;
    padding: 6px 6px 6px 12px;
    height: 24px;
    line-height: 24px;
    font-size: 0.9em;
    text-decoration: none;
    color: #123456;
    /*color: #00ebff;*/
}

.b-action .b-icon {
    float: left;
    position: relative;
    top: 4px;
    margin-right: 8px;
}

.__dark .b-action:hover.__switch_off,
.__dark .b-action.__switch_off.__hover,
.__dark .b-action.__switch_off.__active,
.b-action:hover.__switch_off,
.b-action.__switch_off.__hover,
.b-action.__switch_off.__active {
    background-color: inherit;
}

.b-action:hover,
.b-action.__hover {
    background-color: #e6e6e6;
}

.__dark .b-action.__active {
    background-color: #1c1e23;
}

.__dark .b-action:hover,
.__dark .b-action.__hover {
    background-color: #494d5a;
}

.__dark .b-action.__active {
    color: #fff;
}

.b-list.__horizontal .b-action.__active {
    border-right: 0;
}

.b-action.__active {
    background-color: #dedede;
    border-right: 3px solid #ffd901;
    color: #2361a0;
    /*font-weight: bold;*/
}
