body {
    font-family: "Helvetica Neue Web", "Segoe UI", Verdana, Arial, sans-serif;
    font-size: 90%;
}

a {
    color: #39c;
}
.__fl
{
    float: left;
}
.__fr
{
    float: right;
}

.__cfx:before,
.__cfx:after {
    content: " ";
    display: table;
}
.__cfx:after {
    clear: both;
}


@font-face {
    font-family: "Helvetica Neue Cyrillic Light";
    src: url("{PATH}Fonts/HelveticaNeueCyrillic-Light.otf");
}
@font-face {
    font-family: "Helvetica Neue Cyrillic Medium";
    src: url("{PATH}Fonts/HelveticaNeueCyrillic-Medium.otf");
}

@font-face {
    font-family: "Helvetica Neue Cyrillic Light";
    src: url("{PATH}Fonts/HelveticaNeueCyrillic-Light.otf");
}

@font-face {
    font-family: "Helvetica Neue Cyrillic Medium";
    src: url("{PATH}Fonts/HelveticaNeueCyrillic-Medium.otf");
}

@font-face {
    font-family: "Helvetica Neue Web";
    src: url(".{PATH}Fonts/helveticaneuecyr-light-webfont.eot");
    src: url("{PATH}Fonts/helveticaneuecyr-light-webfont.eot?#iefix") format("embedded-opentype"), url("{PATH}Fonts/helveticaneuecyr-light-webfont.woff") format("woff"), url("{PATH}Fonts/helveticaneuecyr-light-webfont.ttf") format("truetype"), url("{PATH}Fonts/helveticaneuecyr-light-webfont.svg#helveticaneuecyrlight") format("svg");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: "Helvetica Neue Web";
    src: url("{PATH}Fonts/helveticaneuecyr-ultralight-webfont.eot");
    src: url("{PATH}Fonts/helveticaneuecyr-ultralight-webfont.eot?#iefix") format("embedded-opentype"), url("{PATH}Fonts/helveticaneuecyr-ultralight-webfont.woff") format("woff"), url("{PATH}Fonts/helveticaneuecyr-ultralight-webfont.ttf") format("truetype"), url("{PATH}Fonts/helveticaneuecyr-ultralight-webfont.svg#helveticaneuecyrultralight") format("svg");
    font-weight: 100;
    font-style: normal
}

@font-face {
    font-family: "Helvetica Neue Web";
    src: url("{PATH}Fonts/helveticaneuecyr-lightitalic-webfont.eot");
    src: url("{PATH}Fonts/helveticaneuecyr-lightitalic-webfont.eot?#iefix") format("embedded-opentype"), url("{PATH}Fonts/helveticaneuecyr-lightitalic-webfont.woff") format("woff"), url("{PATH}Fonts/helveticaneuecyr-lightitalic-webfont.ttf") format("truetype"), url("{PATH}Fonts/helveticaneuecyr-lightitalic-webfont.svg#helveticaneuecyrlight_italic") format("svg");
    font-weight: normal;
    font-style: italic
}

@font-face {
    font-family: "Helvetica Neue Web";
    src: url("{PATH}Fonts/helveticaneuecyr-medium-webfont.eot");
    src: url("{PATH}Fonts/helveticaneuecyr-medium-webfont.eot?#iefix") format("embedded-opentype"), url("{PATH}Fonts/helveticaneuecyr-medium-webfont.woff") format("woff"), url("{PATH}Fonts/helveticaneuecyr-medium-webfont.ttf") format("truetype"), url("{PATH}Fonts/helveticaneuecyr-medium-webfont.svg#helveticaneuecyrmedium") format("svg");
    font-weight: bold;
    font-style: normal
}

@font-face {
    font-family: "Helvetica Neue Web";
    src: url("{PATH}Fonts/helveticaneuecyr-mediumitaicl-webfont.eot");
    src: url("{PATH}Fonts/helveticaneuecyr-mediumitaicl-webfont.eot?#iefix") format("embedded-opentype"), url("{PATH}Fonts/helveticaneuecyr-mediumitaicl-webfont.woff") format("woff"), url("{PATH}Fonts/helveticaneuecyr-mediumitaicl-webfont.ttf") format("truetype"), url("{PATH}Fonts/helveticaneuecyr-mediumitaicl-webfont.svg#helveticaneuecyrmedium_italic") format("svg");
    font-weight: bold;
    font-style: italic
}