body {
    font-family: "Segoe UI", Verdana, Arial, sans-serif;
    font-size: 90%;
}

a {
    color: #39c;
}

@font-face {
    font-family: "Helvetica Neue Cyrillic Light";
    src: url("{PATH}Fonts/HelveticaNeueCyrillic-Light.otf");
}
@font-face {
    font-family: "Helvetica Neue Cyrillic Medium";
    src: url("{PATH}Fonts/HelveticaNeueCyrillic-Medium.otf");
}
