.__theme_gray
{
    background: #141826;
}
.__theme_dark
{
    background: #123456;
}
.__theme_gray_light
{
    background: #2C3E50;
    /*background: #011826;*/
}

.__theme_light
{
    /*background: #1a4b7c;*/
}

.__theme_middle
{
    /*background: #1a4b7c;*/
}
