<div id="LVF.Views.Page" type="text/html+knockout">

    <div id="page" class="b-page">

        <!-- Header -->
        <div class="b-header">
            Header
        </div>
        <!-- /Header -->

        <div class="b-layout b-cols __left __right">

            <div class="b-col __left">
                Left sidebar
            </div>

            <div class="b-col-wrapper">
                <div class="b-col __main">
                    Main content
                </div>
            </div>

        </div>

    </div>

</div>
