<div id="LVF.Views.Page" type="text/html+knockout">

    <div id="page" class="b-page">

        <!-- Header -->
        <div class="b-header __theme_blue">
            <div class="b-header_inner ">
                <div class="b-toolbar __cfx">
                    <div class="b-toolbar_section">
                        <div class="b-toolbar_item">
                            Item 1
                        </div>
                        <div class="b-toolbar_item">
                            Item 2
                        </div>
                    </div>
                    <div class="b-toolbar_section">
                        <div class="b-toolbar_item">
                            Item 3
                        </div>
                        <div class="b-toolbar_item">
                            Item 4
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- /Header -->

        <div class="b-layout __has_left_sb  __has_right_sb">

            <div class="b-sidebar __left __theme_blue_light">
                <div class="b-sidebar_inner">
                    <ul class="b-list">
                        <li class="b-list_item">
                            <a href="dashboard/" class="b-list_action">Dashboard</a>
                        </li>
                        <li class="b-list_item">
                            <a href="orders/" class="b-list_action __active">Orders</a>
                        </li>
                        <li class="b-list_item">
                            <a href="customers/" class="b-list_action">Customers</a>
                        </li>
                        <li class="b-list_item">
                            <a href="products/" class="b-list_action">Products</a>
                        </li>
                        <li class="b-list_item">
                            <a href="collections/" class="b-list_action">Collections</a>
                        </li>
                        <li class="b-list_item">
                            <a href="discounts/" class="b-list_action">Discounts</a>
                        </li>
                        <li class="b-list_item">
                            <a href="giftcards/" class="b-list_action">Gift Cards</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="b-content">
                Main content
            </div>

        </div>

    </div>

</div>
