.errorpage {
  width: 100%;
  height: 515px;
  background-image: url(Images/error_background_001.png{VERSION});
  background-position: center top;
  background-repeat: no-repeat;
  background-color: #ededed;
  border-bottom: solid 1px #cfcfcf;
  position: relative;
}
.errorpage .main {
  width: 570px;
  height: 530px;
  margin: 0 auto;
  background-image: url(Images/plug_image.png{VERSION}), url(Images/SDL_logo.jpg{VERSION});
  background-repeat: no-repeat, no-repeat;
  background-position: 67px 197px, right 70px;
  padding-top: 70px;
  position: relative;
  -webkit-text-shadow: 1px 1px #ffffff;
  -moz-text-shadow: 1px 1px #ffffff;
  -ms-text-shadow: 1px 1px #ffffff;
  -o-text-shadow: 1px 1px #ffffff;
  text-shadow: 1px 1px #ffffff;
}
.errorpage .title {
  font-size: 23px;
  color: #296acc;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.errorpage .description {
  font-size: 14px;
  margin-top: 10px;
  max-height: 244px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.errorpage .description.oneline {
  white-space: nowrap;
  height: 14px;
}
.errorpage .actions {
  height: 20px;
  margin-top: 15px;
}
.errorpage .actions a {
  color: #296acc;
  font-size: 11px;
  margin-right: 10px;
  cursor: pointer;
}
.errorpage .details {
  width: 100%;
  height: 207px;
  margin-top: 15px;
  resize: none;
}
.errorpage .content {
  position: absolute;
  width: 370px;
  top: 197px;
  left: 200px;
  max-height: 316px;
}
.errorpage .content.showdetails #showDetails,
.errorpage .content.hidedetails #hideDetails,
.errorpage .content.hidedetails #details {
  display: none;
}
.errorpage .content.showdetails #description {
  white-space: nowrap;
}
.errorpage .footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
