.__theme_light
{
    background: #efefef;
}
.__theme_dark
{
    background: #2a2c34;
}
.__theme_middle
{
    background: #3d424d;
}

.__theme_blue
{
    background: #011826;
}
.__theme_blue_light
{
    background: #1a4b7c;
}
.__theme_blue_light
{
    background: #1a4b7c;
}