.sdl-tabs-container {
  position: relative;
  min-height: 204px;
  min-width: 341px;
  padding: 0;
  border: none;
  border-radius: 3px;
  overflow: hidden;
}
.sdl-tabs-container:focus {
  outline: none;
}
.sdl-tabs-container > * {
  float: left;
  border: none;
}
.sdl-tabs-container > *,
.sdl-tabs-container:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 101px;
  margin: 0 0 1000px 0;
  padding: 0;
  border-bottom: solid 1px #cccccc;
  box-shadow: inset 0 -2px 0 0 rgba(170, 170, 170, 0.15);
  overflow: hidden;
}
.sdl-tabs-container > :not([data-sdl-tabs-no-page=true]),
.sdl-tabs-container:after {
  border-right: solid 1px #cccccc;
  border-top: solid 1px #cccccc;
}
.sdl-tabs-container:after {
  content: "";
  display: block;
  box-shadow: inset 2px -2px 0 0 rgba(170, 170, 170, 0.15);
  border-top-right-radius: 3px;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAMAAABFaP0WAAAABlBMVEXd3d3r6+uBeUIEAAAADklEQVQI12NgZGRgZAAAABEABAvikLgAAAAASUVORK5CYII=") #f8f8f8;
}
.sdl-tabs-container > :not([data-sdl-tabs-no-page=true]) {
  width: 151px;
  padding: 14px 9px;
  background-color: #f8f8f8;
}
.sdl-tabs-container > [data-sdl-tabs-no-page=true] + :not([data-sdl-tabs-no-page=true]),
.sdl-tabs-container > :first-child:not([data-sdl-tabs-no-page=true]),
.sdl-tabs-container > .sdl-tabs-tab-left-off-screen + :not([data-sdl-tabs-no-page=true]),
.sdl-tabs-container > [data-sdl-tabs-no-page=true] + .sdl-tabs-page-hidden + :not([data-sdl-tabs-no-page=true]),
.sdl-tabs-container > [data-sdl-tabs-no-page=true] + .sdl-tabs-page-hidden + .sdl-tabs-page-hidden + :not([data-sdl-tabs-no-page=true]),
.sdl-tabs-container > .sdl-tabs-page-hidden:first-child + :not([data-sdl-tabs-no-page=true]),
.sdl-tabs-container > .sdl-tabs-page-hidden:first-child + .sdl-tabs-page-hidden + :not([data-sdl-tabs-no-page=true]),
.sdl-tabs-container > .sdl-tabs-tab-left-off-screen + .sdl-tabs-page-hidden + :not([data-sdl-tabs-no-page=true]),
.sdl-tabs-container > .sdl-tabs-tab-left-off-screen + .sdl-tabs-page-hidden + .sdl-tabs-page-hidden + :not([data-sdl-tabs-no-page=true]) {
  border-top-left-radius: 3px;
  border-left: solid 1px #cccccc;
}
.sdl-tabs-container > .sdl-tabs-page-selected {
  background-color: #ffffff !important;
  border-bottom: none;
  box-shadow: none;
  padding-top: 0;
}
.sdl-tabs-container > .sdl-tabs-page-selected:before {
  content: "";
  height: 4px;
  display: block;
  margin: 0 -9px 10px;
  padding: 0;
}
.sdl-tabs-container:focus > .sdl-tabs-page-selected:before {
  background-color: #94b5e5;
}
.sdl-tabs-container > .sdl-tabs-page-last {
  margin-right: -3px;
  box-shadow: inset 0 -2px 0 0 rgba(170, 170, 170, 0.15), 2px 0 rgba(170, 170, 170, 0.15);
  border-top-right-radius: 3px;
}
.sdl-tabs-container > .sdl-tabs-page-selected.sdl-tabs-page-last {
  box-shadow: 2px 0 rgba(170, 170, 170, 0.15);
}
.sdl-tabs-container-overflown > .sdl-tabs-page-last {
  margin-right: 0;
  border-top-right-radius: 0;
  box-shadow: inset 0 -2px 0 0 rgba(170, 170, 170, 0.15);
}
.sdl-tabs-container-overflown > .sdl-tabs-page-selected.sdl-tabs-page-last {
  box-shadow: none;
}
.sdl-tabs-container > :not([data-sdl-tabs-no-page=true]) > :first-child,
.sdl-tabs-container > :not([data-sdl-tabs-no-page=true]) > :first-child[data-sdl-tabs-switch-label] + * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  width: 100%;
  margin: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: Verdana;
  text-shadow: 0 1px white;
  cursor: default;
}
.sdl-tabs-container > :not([data-sdl-tabs-no-page=true]) > :first-child[data-sdl-tabs-switch-label] {
  font-size: 22px;
  font-weight: bold;
  color: #454b53;
  white-space: nowrap;
  height: 32px;
  line-height: 32px;
  vertical-align: top;
}
.sdl-tabs-container > :not([data-sdl-tabs-no-page=true]) > :first-child[data-sdl-tabs-switch-label=icon] {
  width: 32px;
  margin-left: 50.5px;
}
.sdl-tabs-container > :not([data-sdl-tabs-no-page=true]) > :first-child:not([data-sdl-tabs-switch-label]),
.sdl-tabs-container > :not([data-sdl-tabs-no-page=true]) > :first-child[data-sdl-tabs-switch-label] + * {
  font-size: 13px;
  font-weight: normal;
  color: #454b53;
  max-height: 34px;
  line-height: 17px;
  vertical-align: bottom;
}
.sdl-tabs-container > :not([data-sdl-tabs-no-page=true]) > :first-child:not([data-sdl-tabs-switch-label]) {
  top: 22.5px;
}
.sdl-tabs-container > :not([data-sdl-tabs-no-page=true]) > :first-child[data-sdl-tabs-switch-label] + * {
  top: 10px;
}
.sdl-tabs-container-overflown > .sdl-tabs-tab-left-off-screen,
.sdl-tabs-container-overflown > .sdl-tabs-tab-first-off-screen,
.sdl-tabs-container-overflown > .sdl-tabs-tab-first-off-screen ~ * {
  margin: -1px 0 0 0 !important;
  height: 0 !important;
  border-top: none !important;
  border-bottom: none !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.sdl-tabs-container > :not([data-sdl-tabs-no-page=true]) > :first-child[data-sdl-tabs-switch-label] ~ :nth-child(n + 3),
.sdl-tabs-container > :not([data-sdl-tabs-no-page=true]) > :first-child:not([data-sdl-tabs-switch-label]) ~ :nth-child(n + 2) {
  display: none;
}
.sdl-tabs-container > :not([data-sdl-tabs-no-page=true]) > :first-child[data-sdl-tabs-switch-label] + * + *,
.sdl-tabs-container > :not([data-sdl-tabs-no-page=true]) > :first-child:not([data-sdl-tabs-switch-label]) + * {
  position: absolute;
  top: 101px;
  bottom: 0;
  left: 0;
  right: 0;
  min-height: 101px;
  overflow: auto;
  background-color: #ffffff;
  border: solid 1px #cccccc;
  border-top: none;
  margin: 0;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  display: block;
}
.sdl-tabs-container > .sdl-tabs-page-selected > :first-child[data-sdl-tabs-switch-label] + * + *,
.sdl-tabs-container > .sdl-tabs-page-selected > :first-child:not([data-sdl-tabs-switch-label]) + * {
  display: block !important;
}
.sdl-tabs-container-overflown:after {
  content: ". . .";
  font-family: 'Times New Roman';
  word-spacing: -10px;
  text-align: center;
  box-shadow: inset -2px -2px 0 0 rgba(170, 170, 170, 0.15), -1px 0 0 0px #cccccc;
  font-size: 40px;
  font-weight: bold;
  color: #454b53;
  text-shadow: 0 2px white;
  line-height: 81px;
  background: #f8f8f8;
}
.sdl-tabs-container-overflown-pressed:after {
  background-color: #767676;
  box-shadow: inset 0 -2px 0 0 #585858;
  color: white;
  text-shadow: 0 2px #585858;
}
.sdl-tabs-flyout-menu {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 6px 1px;
  background-color: #fafafa;
}
.sdl-tabs-flyout-menu > div:first-child {
  min-width: 151px;
  max-width: 342px;
  min-height: 36px;
}
.sdl-tabs-flyout-menu > div:first-child > div:first-child > div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 36px;
  line-height: 36px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #262c39;
  font-family: Verdana;
  font-size: 13px;
  text-shadow: 0 1px white;
  padding: 0 2px 0 0;
  cursor: default;
}
.sdl-tabs-flyout-menu > div:first-child > div:first-child > div.sdl-tabs-page-selected {
  background-color: #bed2f0;
  text-shadow: none;
}
.sdl-tabs-flyout-menu > div:first-child > div:first-child > div > div:first-child {
  overflow: hidden;
  width: 16px;
  height: 16px;
  padding: 0;
  margin: 10px;
  display: inline-block;
  vertical-align: top;
}
.sdl-tabs-container > .sdl-tabs-resizetrigger {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: none;
  visibility: hidden;
}
