/* An elliptical shadow  for use on the bottom edge of containers/elements, can be positioned with a combination of shadowMargin, x and y offsets */
.textShadowBright {
  -webkit-text-shadow: 0px 1px #ffffff;
  -moz-text-shadow: 0px 1px #ffffff;
  -ms-text-shadow: 0px 1px #ffffff;
  -o-text-shadow: 0px 1px #ffffff;
  text-shadow: 0px 1px #ffffff;
}
.textShadowDark {
  -webkit-text-shadow: 0px 1px #262c39;
  -moz-text-shadow: 0px 1px #262c39;
  -ms-text-shadow: 0px 1px #262c39;
  -o-text-shadow: 0px 1px #262c39;
  text-shadow: 0px 1px #262c39;
}
.sdl-textinput {
  height: 27px;
  width: 200px;
  min-width: 100px;
  line-height: 12px;
  border: solid 1px #aaaaaa;
  font-family: Arial;
  font-size: 12px;
  color: #262c39;
  background-color: #ffffff;
  outline: none;
  padding: 0 5px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: inset 1px 1px 0px 0px #ebebeb;
  box-shadow: inset 1px 1px 0px 0px #ebebeb;
  -webkit-text-shadow: 0px 1px #ffffff;
  -moz-text-shadow: 0px 1px #ffffff;
  -ms-text-shadow: 0px 1px #ffffff;
  -o-text-shadow: 0px 1px #ffffff;
  text-shadow: 0px 1px #ffffff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.sdl-textinput:-moz-placeholder {
  color: #878787;
}
.sdl-textinput:-ms-input-placeholder {
  color: #878787;
}
.sdl-textinput::-webkit-input-placeholder {
  color: #878787;
}
.sdl-textinput:not(:disabled):not(.invalid):hover,
.sdl-textinput:not(:disabled):not(.invalid):focus {
  border-color: #454545;
}
.sdl-textinput:disabled {
  color: #aaaaaa;
  background-color: #f4f4f4;
  border-color: #aaaaaa;
}
.sdl-textinput::-ms-clear {
  display: none;
}
