.sdl-button-purpose-general:focus,
.sdl-button-purpose-confirm:focus,
.sdl-button-purpose-critical:focus,
.sdl-button-purpose-proceed:focus,
.sdl-button-purpose-toggle:focus {
  outline: none;
}
.sdl-button-purpose-general::-moz-focus-inner,
.sdl-button-purpose-confirm::-moz-focus-inner,
.sdl-button-purpose-critical::-moz-focus-inner,
.sdl-button-purpose-proceed::-moz-focus-inner,
.sdl-button-purpose-toggle::-moz-focus-inner {
  border: 0;
}
.sdl-button-purpose-general,
.sdl-button-purpose-confirm,
.sdl-button-purpose-critical,
.sdl-button-purpose-proceed,
.sdl-button-purpose-toggle {
  border-width: 1px;
  border-style: solid;
  font-family: "Arial";
  font-size: 12px;
  font-weight: bold;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 27px;
  line-height: 25px;
  padding: 0 9px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: inline-block;
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  cursor: default;
  white-space: nowrap;
  vertical-align: middle;
}
.sdl-button-purpose-general,
.sdl-button-purpose-toggle {
  background-color: #e2e2e2;
  color: #262c39;
  border-color: #aaaaaa;
  text-shadow: 0px 1px #ffffff;
  box-shadow: inset 0 1px 0 0 #f4f4f4, inset 0 -1px 0 0 #d6d6d6;
}
.sdl-button-purpose-general:focus,
.sdl-button-purpose-toggle:focus {
  box-shadow: inset 0 1px 0 0 #f4f4f4, inset 0 -1px 0 0 #d6d6d6, 0 0 1px 1px #296acc;
}
.sdl-button-purpose-general:hover,
.sdl-button-toggle-off:hover {
  background-color: #f4f4f4;
  border-color: #454545;
  box-shadow: inset 0 1px 0 0 #ffffff, inset 0 -1px 0 0 #cfcfcf;
}
.sdl-button-purpose-general:focus:hover,
.sdl-button-purpose-toggle:focus:hover {
  box-shadow: inset 0 1px 0 0 #ffffff, inset 0 -1px 0 0 #cfcfcf, 0 0 1px 1px #296acc;
}
.sdl-button-toggle-on:hover {
  background-color: #878787;
  border-color: #454545;
  box-shadow: inset 0 1px 0 0 #aaaaaa, inset 0 -1px 0 0 #545454;
}
.sdl-button-toggle-on:focus:hover {
  box-shadow: inset 0 1px 0 0 #aaaaaa, inset 0 -1px 0 0 #545454, 0 0 1px 1px #296acc;
}
.sdl-button-purpose-general.sdl-button-pressed,
.sdl-button-purpose-toggle.sdl-button-pressed,
.sdl-button-toggle-on {
  background-color: #767676;
  color: #ffffff;
  border-color: #aaaaaa;
  text-shadow: 0px 1px #262c39;
  box-shadow: inset 0 1px 0 0 #454545, inset 0 -1px 0 0 #545454;
}
.sdl-button-purpose-general.sdl-button-pressed:focus,
.sdl-button-purpose-toggle.sdl-button-pressed:focus,
.sdl-button-toggle-on:focus {
  box-shadow: inset 0 1px 0 0 #454545, inset 0 -1px 0 0 #545454, 0 0 1px 1px #296acc;
}
.sdl-button-purpose-confirm {
  background-color: #489536;
  color: #ffffff;
  border-color: #244d1e;
  text-shadow: 0px 1px #244d1e;
  box-shadow: inset 0 1px 0 0 #a3c898, inset 0 -1px 0 0 #467f3a;
}
.sdl-button-purpose-confirm:focus {
  box-shadow: inset 0 1px 0 0 #a3c898, inset 0 -1px 0 0 #467f3a, 0 0 1px 1px #296acc;
}
.sdl-button-purpose-confirm:hover {
  background-color: #7bab6c;
}
.sdl-button-purpose-confirm.sdl-button-pressed {
  background-color: #3b752f;
  box-shadow: inset 0 1px 0 0 #2b5d24, inset 0 -1px 0 0 #2b5d24;
}
.sdl-button-purpose-confirm.sdl-button-pressed:focus {
  box-shadow: inset 0 1px 0 0 #2b5d24, inset 0 -1px 0 0 #2b5d24, 0 0 1px 1px #296acc;
}
.sdl-button-purpose-critical {
  background-color: #e4481d;
  color: #ffffff;
  border-color: #942c08;
  text-shadow: 0px 1px #942c08;
  box-shadow: inset 0 1px 0 0 #f89c7c, inset 0 -1px 0 0 #cf421c;
}
.sdl-button-purpose-critical:focus {
  box-shadow: inset 0 1px 0 0 #f89c7c, inset 0 -1px 0 0 #cf421c, 0 0 1px 1px #296acc;
}
.sdl-button-purpose-critical:hover {
  background-color: #ea6c4f;
}
.sdl-button-purpose-critical.sdl-button-pressed {
  background-color: #d1410a;
  box-shadow: inset 0 1px 0 0 #bd3500, inset 0 -1px 0 0 #bd3500;
}
.sdl-button-purpose-critical.sdl-button-pressed:focus {
  box-shadow: inset 0 1px 0 0 #bd3500, inset 0 -1px 0 0 #bd3500, 0 0 1px 1px #296acc;
}
.sdl-button-purpose-proceed {
  background-color: #296acc;
  color: #ffffff;
  border-color: #0d3274;
  text-shadow: 0px 1px #103a81;
  box-shadow: inset 0 1px 0 0 #5b8ee1, inset 0 -1px 0 0 #1e56ac;
}
.sdl-button-purpose-proceed:focus {
  box-shadow: inset 0 1px 0 0 #5b8ee1, inset 0 -1px 0 0 #1e56ac, 0 0 1px 1px #296acc;
}
.sdl-button-purpose-proceed:hover {
  background-color: #3880f0;
}
.sdl-button-purpose-proceed.sdl-button-pressed {
  background-color: #1958b9;
  box-shadow: inset 0 1px 0 0 #0744a9, inset 0 -1px 0 0 #0744a9;
}
.sdl-button-purpose-proceed.sdl-button-pressed:focus {
  box-shadow: inset 0 1px 0 0 #0744a9, inset 0 -1px 0 0 #0744a9, 0 0 1px 1px #296acc;
}
.sdl-button-style-icon {
  width: 30px;
  padding-right: 0;
  text-overflow: clip;
}
.sdl-button-style-round {
  width: 22px;
  height: 22px;
  border-radius: 11px;
  padding: 0;
  text-overflow: clip;
}
.sdl-button-purpose-general[disabled],
.sdl-button-purpose-confirm[disabled],
.sdl-button-purpose-critical[disabled],
.sdl-button-purpose-proceed[disabled],
.sdl-button-purpose-toggle[disabled] {
  background-color: #f4f4f4 !important;
  color: #aaaaaa !important;
  border-color: #aaaaaa !important;
  text-shadow: 0px 1px #ffffff !important;
  box-shadow: inset 0 1px 0 0 #ffffff, inset 0 -1px 0 0 #d1d1d1 !important;
}
.sdl-button-purpose-general[disabled]:focus,
.sdl-button-purpose-confirm[disabled]:focus,
.sdl-button-purpose-critical[disabled]:focus,
.sdl-button-purpose-proceed[disabled]:focus,
.sdl-button-purpose-toggle[disabled]:focus {
  box-shadow: inset 0 1px 0 0 #ffffff, inset 0 -1px 0 0 #d1d1d1, 0 0 1px 1px #296acc !important;
}
.sdl-button-image {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 0 6px 0 -3px;
  position: relative;
  top: 4px;
}
.sdl-button-style-icon > .sdl-button-image {
  margin-right: 6px;
}
.sdl-button-style-round > .sdl-button-image {
  width: 12px;
  height: 12px;
  margin: 0 4px;
  top: 4px;
}
@-moz-document url-prefix() {
  button.sdl-button-purpose-general,
  button.sdl-button-purpose-confirm,
  button.sdl-button-purpose-critical,
  button.sdl-button-purpose-proceed,
  button.sdl-button-purpose-toggle {
    padding: 0 7px;
  }
  button.sdl-button-style-icon {
    padding: 0;
  }
  button.sdl-button-style-icon > .sdl-button-image {
    margin: 0 4px;
  }
  button.sdl-button-style-round > .sdl-button-image {
    margin: 0 2px;
  }
}
.sdl-button-purpose-general > .sdl-button-image,
.sdl-button-purpose-toggle > .sdl-button-image {
  opacity: .75;
}
.sdl-button-purpose-general.sdl-button-pressed > .sdl-button-image,
.sdl-button-purpose-toggle.sdl-button-pressed > .sdl-button-image,
.sdl-button-purpose-toggle.sdl-button-toggle-on > .sdl-button-image,
.sdl-button-purpose-general:hover > .sdl-button-image,
.sdl-button-purpose-toggle:hover > .sdl-button-image {
  opacity: 1;
}
.sdl-button-purpose-general[disabled] > .sdl-button-image,
.sdl-button-purpose-toggle[disabled] > .sdl-button-image,
.sdl-button-purpose-confirm[disabled] > .sdl-button-image,
.sdl-button-purpose-critical[disabled] > .sdl-button-image,
.sdl-button-purpose-proceed[disabled] > .sdl-button-image {
  opacity: .5 !important;
}
